.vscode/
node_modules/
fake_data/__pycache__
client/node_modules
client/.DS_store
.DS_store
client/src/components/pages/LineChart.js
client/build
Nano_33_Sense/.vscode
Nano_33_Sense/test
package-lock.json
client/package-lock.json